.post-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 75%;
    width: 35%;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 36%;
    margin-bottom: 5%;
  }
  
  .post {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    height: 500px;
    width: 700px;
    border-radius: 5%;
    background-color: white;
  }
  
  .post-form {
    margin-bottom: 5%;
  }
  
  .post-image {
    height: 575px; 
    width: 100%;
    border-radius: 4%;
  }
  
  .post-created {
    font-size: xx-small;
  }
  
  .user {
    display: flex;
    flex-direction: row;
    align-items: center; /* Ensures avatar and username are properly aligned */
    width: 100%;
    margin-bottom: 10px;
    color: black;
  }

 .user img{
    border-radius: 50%;
 }

  .username {
    margin-left: 15%;
    font-size: medium;
    font-weight: bold;
    }
  
  @media screen and (max-width: 1440px) {
    
  .post-container {
    width: 50%; 
    margin-left: 25%; 
  }
  
  .post {
    height: 400px; 
    width: 600px;  
  }
  
  .post-image {
    width: 400px;
    height: 450px; 
  }
  
  .post-button {
    margin-left: 75%; 
    height: 8%; 
    width: 8%; 
  }
  
  .user {
    width: 35px; 
    height: 35px; 
    margin-right: 15%; 
  }

  }

  #comment{
    margin-right: 3%;
  }

  #like{
    margin-left: 3%;
    margin-right: 3%;
  }

  #like:hover{
   color: #1968f0;
  }